.bg{
    display: flex;
    background-color: transparent;
    height: 100vh;
    background-image:   linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) ,url("https://images.pexels.com/photos/7031705/pexels-photo-7031705.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2 " ) ;
    background-repeat: no-repeat;
    background-size: cover;
}